{# Twig template #}
{# Autor y diseñador: Angel Labrada Massó #}

{% extends "AppBundle::Layout_frontend_statics.html.twig" %}




{% block banner_title %}
    <h1>Legal <span class="vc_main-color">Notice</span></h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Inicio</a></li>
        <li class="active">Legal Notice</li>
    </ul>
{% endblock %}


{% block sub_banner %}

{% endblock %}


{% block content %}
    <div class="col-md-12">
        <p>

            All statements on this website regarding revenues, the effort, and / or the probability of success are
            estimates based on what our most successful members have experienced. We hope you will do as well as any of
            them. Indeed all members recover the amount they spend on our products and services. Your success is
            determined by many factors, including her desire, dedication, and effort, ability to follow directions,
            personal talent, and consumer demand for products and / or services on their core business such as MLM,
            these factors are outside our control.<br><br>

            Endorsements on this site are actual members. These individuals have reached their stated levels of success,
            in part, by becoming affiliate marketing for TML4you Inc. None of the endorsers has received any
            compensation for his statements, despite receiving income from their affiliate marketing
            activities-guests-support. Most importantly, these endorsers have reached a significant level of success by
            devoting considerable time and resources in the development of their capabilities. For each of our
            endorsers, success was neither quick nor easy, you should know the effort we all make to build result by
            personal efforts. <br><br>

            We cannot make any express or implied - regarding their experiences and results. Managing a business
            involves many risks. Do your due diligence consulting professionals you trust before you buy anything from
            us. Get advice from a lawyer, accountant, or other qualified professional before starting. With the purchase
            and use of our products and services, you expressly agree to assume the risk associated with their use and
            agrees that our company is not responsible for the lack of results when you do not take the time and support
            to other people trusted you and accept your friend support which TML4you Inc. compensate him with a
            convertible bond and after the new member referred by you meet our conditions. <br><br>

            TML4you Inc., Is mainly an education services company that focuses on giving our members support, knowledge,
            monitoring and development tools within our site, membership in a personalized way through the PTS system.
            Our most successful members have requested this information to its core business in their MLM develop
            personally as independent distributors, dedicated to the sale of dietary supplements, reinforcing health,
            diet products, or any other form of direct or multilevel marketing effort. Information on the success of our
            customers is both difficult to quantify and property business. Consequently, we have no valid empirical data
            that indicate the growth of the cliffs of benefits that our members get the implementation of our
            information and techniques for their core business. Only some of our members receive income from marketing
            activities affiliate-related PTS program TML4you Inc., We recommend caution and never think you can get rich
            EASY training, fast, free and without personal efforts can be real with TML4you Inc., and its associates.
            <br><br>

            This disclaimer of income last updated on 13 July 2015.

        </p>
    </div>
{% endblock %}


{% block another1javascripts %}{% endblock %}

