{# Twig template #}
{# Autor y diseñador: Angel Labrada Massó #}

{% extends "AppBundle::Layout_frontend_statics.html.twig" %}




{% block banner_title %}
    <h1>Privacy <span class="vc_main-color">Policy</span></h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Inicio</a></li>
        <li class="active">Privacy Policy</li>
    </ul>
{% endblock %}


{% block sub_banner %}

{% endblock %}


{% block content %}
         <div class="col-md-12">
                        {#<h3>Desde 2012</h3>#}

                        <p>

This Privacy Policy describes the information gathering and dissemination practices webTML4you.com page will notify you of changes in our privacy policy by posting the new policy on this website. Check our Privacy Policy periodically so that you can be informed of our current practices, as they may change in the future.<br><br>

By using our services, you are accepting the practices described in this Privacy Policy. Your acceptance of these practices is essential for us to provide our services and to provide personal informations. We need accurate information so that we can contact and use our website and related services. You can choose to no agree agreements and decide not to provide the requested personal information. However, we cannot get in touch with you and you cannot use our site and services. <br><br>

The personal information collected includes name, address, email address, phone number, username and password. We use the information we collect to provide our services, contact you regarding our products and services, and to improve our site. We also share your name, address, telephone number and other contact with the member, if any, who referred you to our website. Once a third party obtains your personal information, subsequent use is controlled by its business practices, which is beyond our control. By providing a phone number and / or email address, you expressly request that we and / or anyone on our website to share or transfer your personal information with you on that number or email address. Note, however, that the payment information is used only for purposes of processing specific requests. <br><br>

We automatically collect certain information from visitors to and members of the site, such as Internet addresses, type of browser, Internet Service Provider (ISP), referring and exit page, operating system, and timestamps navigation data. We can also monitor and analyze the use of non-identifying and aggregate information and statistics from our visitors and customer information. This information is logged to help diagnose technical problems, and to administer our website so that we can constantly improve the quality of services we provide. <br><br>

 Our site reorientation includes features that allow us to show ads after they leave our site. We use technology and third-party services to accomplish this. These third parties use cookies (a text file that is stored on the device), pixels (a small piece of code included in our web pages), or both, to analyze web browsing activity to help determine which ads to show you when you are on other websites. No personally identifiable information is collected through these systems remarketing, although some do have the ability to tailor advertising based on the parts of our website that have been visited. <br><br>

When you pay on our website using a credit or debit card, including your monthly membership fee that collect personal information necessary to complete the transaction. This information includes your name, card number and other information needed, all of which are clearly marked on the form used for sending payment. Use, processing companies not affiliated credit cards to process your payment. We transfer your payment information and authorizes us to do this business exclusively for this purpose. The company does not retain, share, store or use personally identifiable information for any other purpose. <br><br>

                         </p>
                    </div>
                </div>
{% endblock %}

{% block other %}{% endblock %}

{% block another1javascripts %}{% endblock %}

