footer{
	background: #292929;
	color:#EEE;
}
footer h1,footer h2,footer h3,footer h4,footer h5,footer h6, footer .vc_address{
	color:#EEE;	
}
.vc_footer-links .vc_footer-line{
	background:none;
	margin:-60px 0 20px -1260px;
	width:2000px;
    border-bottom: 35px solid #292929;
    border-right: 90px solid transparent;
    border-left: 90px solid transparent;
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 0;
    line-height: 56px;
    padding: 10px;
    text-decoration: none;	
}
.vc_footer-links{
	padding-top:20px;
	position:relative;
}
footer ul.vc_li li{
	background-image: url("../../img/list-white.gif");
}
.vc_bottom{
	border-top:1px solid #222222;
	box-shadow:0 -1px 3px rgba(0, 0, 0, 0.5);
}
.vc_bottom .vc_footer-line{
	display:none;
}
.vc_bottom .bg{
	background:none;
}
footer .widget .vc_twitter-mini .bg{
	background:none;
}
footer .widget .vc_map-widget{
	background:#222;
	color:#333;
}
footer .widget .vc_social-share a{
	color:#EEE;
}
