<div class="row">
  <div class="col-md-12">
    <div class="portlet light bordered">
      {% block panel_heading %}
        <div class="portlet-title">
          <div class="caption">{% block box_title %}{% endblock box_title %}</div>
          <div class="actions">
            {% block box_tools %}{% endblock box_tools %}
          </div>
        </div>
      {% endblock %}
      <div class="portlet-body">
        {% block box_content %}{% endblock box_content %}
      </div>
    </div>
  </div>
</div>