{% extends '::admin.html.twig' %}

{% block body_tag %}

{% endblock body_tag %}

{% block header_tag %}

{% endblock %}

{% block section_tag %}

    <h1>Su Blog no ha sido creado a&uacute;n...</h1>

{% endblock %}

{% block footer_tag %}{% endblock %}

{% block body_end_before_js %}
    <a id="back-top" href="#" data-action="backtop" class="vd_back-top visible"> <i class="fa  fa-angle-up"> </i> </a>
{% endblock %}

{% block page_script %}

{% endblock page_script %}

{% block javascripts_document_ready %}

{% endblock javascripts_document_ready %}