{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form ':form:fields-material.html.twig' %}
<div class="row">
    <div class="col-sm-8">
        {% embed ':embed:panel-top.html.twig' %}
            {% block box_content %}
                <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                    {{ form_widget(form) }}
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check"></i> {{ 'change_password.submit'|trans }} </button>
                        </div>
                    </div>
                </form>
            {% endblock box_content %}
        {% endembed %}
    </div>
</div>

