<div class="btn-group drop">
    <a class="btn btn-sm btn-primary" href="{{ path('app_admin_news_category_edit',{'id':id}) }}"><i class="fa fa-edit"></i> {{ 'news_category.edit'|trans({},'backend') }}</a>
    <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{{ path('app_admin_news_category_delete',{'id':id}) }}"><i class="fa fa-trash-o"></i> {{ 'delete'|trans({},'resources') }}</a></li>
        <li class="divider"></li>
    </ul>
</div>