{# Twig template #}
{# Autor y diseñador: Angel Labrada Mass&oacute; #}

{% extends "AppBundle::Layout_frontend_statics.html.twig" %}


{% block banner_title %}
    <h1>Herramienta <span class="vc_main-color">Administraci&oacute;n, Gesti&oacute;n y Comunicaci&oacute;n con tus Afiliados</span>
    </h1>
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Inicio</a></li>
        <li class="active">Herramienta Administraci&oacute;n, Gesti&oacute;n y Comunicaci&oacute;n con tus Afiliados
        </li>
    </ul>
{% endblock %}


{% block content %}
    <div class="col-md-12" style="margin-bottom: 35px">
        <p>

            La poderosa herramienta de TML4you de Administraci&oacute;n, Gesti&oacute;n y Comunicaci&oacute;n con tus
            afiliados permite crear numerosos grupos de afiliados para ayudarte a administrar tus afiliados mejor. Una
            comunicaci&oacute;n excelente con tus afiliados mantendr&aacute; viva tu red. El funcionamiento de un programa de
            afiliados puede parecer muy sencillo, pero las tareas que requiere para tener &eacute;xito son muchas, y todas muy
            importantes. Aunque los programas de afiliados son sencillos como concepto, implican un trabajo bastante
            detallado para conseguir que tengan el &eacute;xito propuesto. Con &eacute;sta herramienta se te facilitara toda la
            gesti&oacute;n de la misma
    </div>
{% endblock %}