{% extends 'FOSUserBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}{{ 'PASSWORD_ALREADY_REQUEST'|trans({},'frontend') }}{% endblock title %}

{% block fos_user_content %}
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      {% from ':macros:flash.html.twig' import advanced_flash %}
      {{ advanced_flash('danger','PASSWORD_ALREADY_REQUEST'|trans({},'frontend'),'resetting.password_already_requested'|trans,'',0) }}
    </div>
  </div>
{% endblock %}