<div class="btn-group drop">
    <a class="btn btn-sm btn-primary" href="{{ path('app_admin_configuration_edit',{'id':id}) }}"><i class="fa fa-edit"></i> {{ 'configuration.edit'|trans({},'backend') }}</a>

</div>