{% extends "::admin.html.twig" %}

{% block title %}{{ 'dashboard'|trans({},'backend') }}{% endblock %}
{% block page_title %}{{ 'dashboard'|trans({},'backend') }}{% endblock page_title %}

{% block page_body %}
    <div class="page-content">
        <h2 style="color: #38A5DD;">NUESTRAS GARANTIAS EXCLUSIVAS</h2><br>

        <ul style="list-style: none; font-size: 18px">
            <li><i class=" fa fa-check-square vc_main-color"></i><span
                        class="vc_main-color" style="color: #38A5DD;">GARANT&Iacute;A DE SATISFACCI&Oacute;N COMPLETA DE SU MEMBRES&Iacute;A ACTUAL ACTIVA: </span>
                Garant&iacute;a de satisfacci&oacute;n completa de su membres&iacute;a actual activa o la devoluci&oacute;n del
                costo pagado por su membres&iacute;a actual activa.
                                <span class="vc_main-color">
                                    <ul style="margin-top: 25px; color: #38A5DD;">
                                        <li style="margin: 10px">10 d&iacute;as MIEMBRO-BASICO.</li>
                                        <li style="margin: 10px">20 d&iacute;as MIEMBRO-SUPERIOR.</li>
                                        <li style="margin: 10px">30 d&iacute;as MIEMBRO-PROFESIONAL.</li>
                                    </ul>
                                </span>
                <br>
                Usted es libre para solicitar la devoluci&oacute;n directa a nuestro procesador del pago
                directamente en su Dashboard (panel de control) SIN PREGUNTAS.
            </li><br>
            <li><i class=" fa fa-check-square vc_main-color"></i>
                <span class="vc_main-color" style="color: #38A5DD;">GARANT&Iacute;A DE 90 D&Iacute;AS EXTRAS DE SATISFACCI&Oacute;N LIMITADA DE SUS RECOMPENSAS GANADAS: </span>
                90 d&iacute;as extras de satisfacci&oacute;n limitada de sus recompensas ganadas, cuando no superan el
                costo pagado por su membres&iacute;a
                Actual o la devoluci&oacute;n del costo pagado en un periodo de
                (15 d&iacute;as) DESPUES DE LOS (3 meses del periodo de garant&iacute;a).
            </li><br>
            <li><i class=" fa fa-check-square vc_main-color"></i>
                <span class="vc_main-color" style="color: #38A5DD;">GARANT&Iacute;A DE 365 D&Iacute;AS DE  SATISFACCI&Oacute;N  LIMITADA DE SUS RECOMPENSAS GANADAS: </span>
                365 d&iacute;as de satisfacci&oacute;n limitada de sus recompensas ganadas, cuando no superan el costo
                pagado por su membres&iacute;a actual o la devoluci&oacute;n del costo pagado en un periodo de (15
                d&iacute;as) despu&eacute;s de los (12 meses), m&aacute;s un bono de agradecimiento TML4you.
            </li><br>

            <li><span class="vc_main-color" style="color: #38A5DD;">NOTA:</span> TML4YOU INC., no esta asociada ni es endorsado por ning&uacute;n sistema de pagos por
                internet y nuestras devoluciones son procesadas de la misma forma y lugar donde fueron
                hachas originalmente por su solicitante y miembro original, usamos nombres de
                procesadores de pagos los cuales nos prestan servicios de pagos, para mas informaci&oacute;n
                dir&iacute;jase a info@tml4youinternational.com
            </li><br>

            <li><span class="vc_main-color" style="color: #38A5DD;">CREDIBILIDAD:</span> es nuestro compromiso en todo momento porque nuestra inversi&oacute;n y
                reputaci&oacute;n vale mas que el costo de una membres&iacute;a y por esa raz&oacute;n jam&aacute;s nos quedaremos
                con su dinero si usted no ha quedado satisfecho(a) o a ganado por encima de su pago.
            </li>
        </ul>
    </div>
{% endblock %}